#app{
  overflow: hidden;
}

#logo{
  height: 75px;
  width: auto;
}

.center{
  position: absolute;
  justify-content: center;
  right: 45%;
  left: 45%;
  content:center
}

.center img{
  padding-left: 10px
}


.logo{
  color:white
}

.colorChange{
  color: white
}
.colorChange:hover{
  color: black
}

.flex-item {
  position: absolute;
  justify-content: right;
  right: 20px;
}


.heightChange{
  height: 150px
}

.eventsContainer {
  text-align: center;
}


.signin{
  background-color: lightgrey;
  border-style: groove;
  padding: 5%;
}

.eventsStart{
  margin: 45% 0 0% 0;
}
